body { font-family: 'Open Sans', sans-serif;color:#555555;font-size:18px; }
.m-r-xs { margin-right:5px; }
.m-r-sm { margin-right:15px; }

.m-t-xs { margin-top:5px; }
.m-t-sm { margin-top:15px; }
.m-t-md { margin-top:30px; }
.m-t-lg { margin-top:45px; }

.m-b-xs { margin-bottom:5px; }
.m-b-sm { margin-bottom:15px; }
.m-b-md { margin-bottom:30px; }
.m-b-lg { margin-bottom:45px; }

.abs-right { position: absolute;right:0px;bottom:0; }
.abs-right a { color:#777;background:#d1d1d1;text-align:center;height:42px;width:60px;line-height:42px;;border-left:1px solid #ddd;font-size:24px;display: block; }
.abs-right:hover a { color:#333;background:#c1c1c1; }

.abs-left { position: absolute;left:0px;bottom:0; }
.abs-left a { color:#777;background:#d1d1d1;text-align:center;height:42px;width:60px;line-height:42px;;border-left:1px solid #ddd;font-size:24px;display: block; }
.abs-left:hover a { color:#333;background:#c1c1c1; }

.text-strong { font-weight:600;}

.wow { visibility: hidden; }

.abs-center {  
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


h2 { font-size:48px;color:#000; }


video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    z-index: 5;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;;
	
}

a.anchor {
    display: block;
    position: relative;
    top: -88px;
    visibility: hidden;
}

@keyframes shrink {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}




/* ------------------------------------------------------------------------------------------------------*/
/* Begin main styling */






/* Top navigation  */
#header { background:#e1e1e1;height:54px;border-bottom:12px solid #f1f1f1;position:fixed;top:0;right:0;left:0;z-index:100;; }
#header .logo { height:74px;float:left; }
/*#header .logo { float:none;text-align:center;} */

/* Menu */
#header nav ul { list-style: none;margin:0; }
#header nav ul li { float:left; }

#header nav ul li a { display:block;height:42px;line-height:42px;padding-left:20px;padding-right:20px;font-size:16px;font-weight:600;color:#555555;border-right:1px solid #cacaca; }
#header nav ul li a:hover { background:#f1f1f1;text-decoration: none;color:#000; }
#header nav ul li a.active { background:#f1f1f1;text-decoration: none;color:#000; }
#header nav ul li a:focus { text-decoration: none; }
#header nav ul li a:active { text-decoration: none; }






/* Banner Section */
/* Banner Size */
section.banner .background { height:100vh;background-color:#fff;position: relative;}

section.banner .tag { position:absolute;top:240px;left:0;right:0;text-align:center;z-index:51;font-size:72px;color:rgba(0,0,0,0.66);text-shadow: 0px 0px 15px rgba(2555,255,255,0.5);line-height: 1;background-color:rgba(255,255,255,0.5);padding:15px;}
section.banner .tag div { font-size:32px;margin-top:10px;color:rgba(0,0,0,0.5);}


section.banner { overflow:hidden; }
section.banner .bg { background-size:cover;background-position:top center;background-repeat: no-repeat;position: absolute;top:-200px;;right:-100px;left:0px;bottom:0px;z-index:50; }
section.banner .shadow { position: absolute;top:0;right:0px;left:0px;bottom:0px;z-index:51;}
section.banner .statement { background:#efefef;padding-top:65px;padding-bottom:65px;text-align:center; }
section.banner p { font-size:30px;}

section.banner .loading { background:#d2d3d7;font-size:0; }
section.banner .loading .bar { display:inline-block; }
section.banner .loading .red { width:25%;height:15px;background:#e60100;background:linear-gradient(45deg, #e10000, #e63a37);}
section.banner .loading .orange { width:17%;height:15px;background:#f87b00;background:linear-gradient(45deg, #f87b00, #faa21b); }
section.banner .loading .green { width:25%;height:15px;background:linear-gradient(45deg, #96c100, #b5d333); }
section.banner .loading .complete { width:10px;height:15px;background:#88a800;position:relative; }
section.banner .loading .complete:after { content:"64% Complete";float:left;font-size:15px;position:absolute;bottom:25px; left: 50%; transform: translateX(-50%);width:200px; text-align:center;color:#88a800;font-weight:600;z-index:53;}

section.banner .laptop { position: absolute;bottom:0;left:50%;transform: translateX(-50%);z-index: 51;}
section.banner .iphone { position: absolute;bottom:-40px;;left:-90px; }
section.banner .laptop .video { position:absolute;top:20px;right:70px;left:70px;bottom:40px;border-radius:5px;overflow:hidden;}
section.banner .laptop .iphone .video { position:absolute;top:37px;right:30px;left:24px;bottom:65px;border-radius:5px;overflow:hidden;}
/* Updates larger size */
section.banner .laptop .video { position:absolute;top:20px;right:90px;left:90px;bottom:50px;border-radius:5px;overflow:hidden;}


@media only screen and (max-width: 768px ) {
	section.banner .laptop { display:none; }
	section.banner .background { height: 640px; }
	
}

/* About Section */
section.about { padding-top:60px;padding-bottom:60px;text-align:center; }
section.about header h2 { color:#000;margin-bottom:15px; }

section.about article { margin-top:30px;}
section.about h3 { font-size:20px;transition: 0.25s ease all;display: none; }
section.about .holder { background-color:#fff;height:200px;position: relative;overflow:hidden; }
section.about .holder:hover { outline:4px solid #ccc;}

section.about .img { 
	width:100%;
	height:100%;
	background-repeat:no-repeat;background-size:cover;position: relative;
    -webkit-transition: transform 3s linear;
    -moz-transition: transform 3s linear;
    -ms-transition: transform 3s linear;
    -o-transition: transform 3s linear;
    transition: transform 3s linear;
}
section.about .holder:hover .img {
transform: scale(1.15);
}

section.about span { 
	text-transform:capitalize;padding-top:60px;padding-bottom:10px;font-size:20px;
position: absolute;bottom:0px;right:0;left:0;display:block;color:#fff;;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
section.about .video { position:absolute;top:0px;right:0px;left:0px;bottom:0px;border-radius:5px;overflow:hidden;opacity: 1;transition: ease 0.25s all;}

section.about .col-sm-4 { margin-bottom:15px;}
section.about .col-sm-4 { transition: 0.25s ease all;}
section.about .col-sm-4:hover .video { opacity:1;}
/*section.about .col-sm-4:hover h3 { color:#000;font-size:21px;margin-bottom:12px;}*/
/*section.about .col-sm-4:hover { background-color:#f1f1f1;border-radius: 5px;padding-bottom:15px; }*/

/* Break section */
section.break { position: relative;overflow:hidden;min-height:50vh;}
section.break .overlay { z-index:49;position: relative; }
section.break .blurb { z-index:50;position: absolute;top:0;right:0;left:0;bottom:0;;}

section.break h2 { color:#fff;font-weight: 600;font-size:60px; }
section.break h3 { color:rgba(255,255,255,0.8);;margin:0; }
section.break .shadow { position: absolute;top:0;right:0px;left:0px;bottom:0px;z-index:50;}
section.break .img { 
	position: absolute;
	top:-100px;
	bottom:-100px;
	left:0;right:0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; }
@media only screen and (max-width: 768px ) {
	section.break { position: relative;overflow:hidden;min-height:100vh;}
	section.break { position: relative;overflow:hidden;min-height:640px;;;}
}

section.break .img { 
    -webkit-transition: transform 10s ease;
    -moz-transition: transform 10s ease;
    -ms-transition: transform 10s ease;
    -o-transition: transform 10s ease;
    transition: transform 10s ease;
}
section.break:hover .img {
transform: scale(1.15);
}



/* Product Section */
section.product { background:#fff;border-radius: 5px;padding-top:35px; }
section.product ul { list-style: none;padding-left:0; }
section.product span { width:45px;text-align: center;
}
section.product ul li { margin-bottom:10px;}
section.product .col-sm-4 { overflow:hidden;text-align:center; }
section.product img { margin-bottom:-150px; }
section.product .col-sm-8 { padding-bottom:35px; }



/* Features Section */
section.features { padding-top:35px;padding-bottom:35px;overflow:hidden;background:#f1f1f1; }
section.features ul { list-style: none;padding-left:0; }
section.features span { width:45px;text-align: center;
}
section.features ul li { margin-bottom:10px;}
section.features .col-sm-4 { text-align:center; }
section.features img {  }
section.features .col-sm-8 { padding-bottom:35px; }
section.features h3 { font-size: 32px; }
@media only screen and (max-width: 768px ) {
	section.features .col-sm-8 { text-align:center; }
}


/* Preview Section */
section.preview { padding-top:35px;}
section.preview .image { background:#f1f1f1;padding-top:35px;overflow:hidden;}
section.preview article { }
section.preview .laptop { position: relative;text-align: center;overflow:hidden;display:inline-block; }
section.preview .laptop .video { position:absolute;top:20px;right:90px;left:90px;bottom:50px;border-radius:5px;overflow:hidden;}



/* Pre-Footer Contact */
section.pre-footer { padding-top:35px;padding-bottom:35px;background:linear-gradient(#fff,#e1e1e1);position: relative;overflow: hidden;}
section.pre-footer .container { position: relative;z-index:51;;}

section.pre-footer h2 {  }
section.pre-footer h3 {font-size:32px; margin-bottom:15px;margin-top:0;}
section.pre-footer div { margin-bottom: -5px; }
section.pre-footer .contact-us { border:1px solid #ddd;background:rgba(255,255,255,0.5);;padding:15px;margin-top:35px;}
section.pre-footer .form-group { display:inline-table;width:100%;margin-bottom:15px;}
section.pre-footer .fa { display:inline-block;min-width:20px;}

@media only screen and (max-width: 768px ) {
	section.pre-footer { text-align:center; }
	section.pre-footer .form-group { text-align:center; }
	section.pre-footer .form-horizontal {  text-align:center;margin-top:35px;border-top:1px solid #ccc;padding-top:35px; }
}



/* Footer Section */
footer section.footer {  padding-bottom:65px;background:#f1f1f1;padding-top:65px;overflow:hidden;position:relative; }
footer section.footer .overlay { 
	position:absolute;
	color:#e9e9e9;
	font-size:125px;
	font-weight:bold;
	top:-69px;
	left: 50%;
 	-webkit-transform: translateX(-50%);
	transform: translateX(-50%) ;}

footer section.footer p { font-size:14px;}
footer section.footer b { color:#000; }
footer section.footer ul { list-style: none;padding:0;}
footer section.footer ul li { display:inline-block; }
footer section.footer ul li a { padding-left:10px;padding-right:10px;line-height:32px;border:1px solid #ddd;display:inline-block;background:#e1e1e1;border-radius:3px;text-align:center;min-width:40px; }
footer section.footer ul li a:hover { background:#d1d1d1;color:#000;}

footer section.post-footer { background:#333;padding-top:15px;padding-bottom:15px;color:#ccc;}
footer section.post-footer a { color:#fff;font-size:14px;font-weight:600; }

/* Reponsive */
@media only screen and (max-width: 768px ) {
	
	/* Header Center */
	#header { text-align:center; }
	#header .logo { float:none; }
	section.product h2 { text-align: center; }
}



/* Slider */

.swiper-container {
	width: 100%;
	padding-top:20px;
	padding-bottom:45px;
	background:#e1e1e1;
}
.swiper-pagination {
	background-color:#f1f1f1;
	margin-bottom: -10px;
}
.swiper-slide {
	text-align: center;
	font-size: 0;
	background: #fff;
	color:#fff;
	font-weight:600;
	height:144px;
	width:258px;
	margin-right:15px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-size:cover;
}
	 .slider {
		
		 
	 }

